.feedbacks {
    position: relative;
    width: 100%;
    height: 110vh;
    background-color: var(--white);
    padding: 100px 10%;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* .feedbacks {
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(10deg, var(--orange-dark), var(--orange));
    padding: 100px 10%;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
} */
.feedbacks-header {
    color: var(--white);
    -webkit-text-stroke: 1px var(--blue-dark);
}
.feedbacks-sub-header {
    color: var(--text-black);
    z-index: 3;
    margin-top: 40px;
}

.feedbacks-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    width: 100%;
}

.feedback-image {
    width: 40%;
}

@media screen and (max-width: 768px) {
    .feedbacks {
        padding: 40px 5%;
        height: 80vh;
    }
    .feedbacks-container {
        padding: 20px 5% !important;
    }
    .feedback-image {
       display: none;
       visibility: hidden;
    }
    .feedbacks-sub-header {
       font-size: 2vh !important;
    }
    .feedbacks-container {
        flex-direction: column;
        margin-top: 30px;
    }
    .feedback-content {
        width: 100% !important;
        padding: 3vw !important;
        border-radius: 3vw !important;
        justify-content: space-between;
    }
    .feedback-message {
        font-size: 3.5vw !important;
        height: 40vh;
    }
    .feedback-author-name {
        font-size: 4vw !important;
    }
    .feedback-author-position {
        font-size: 3vw !important;
    }
    .feedback-arrows > i {
        font-size: 6.5vw !important;
        margin-top: 0 !important;
    }
    .feedback-tagline {
        font-size: 3vw !important;
        margin-top: 6vh !important;
    }
}

.feedback-content {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: auto;
    padding: 2vw;
    box-sizing: border-box;
    background-color: var(--blue);
    border-radius: 2vw;
    position: relative;
    z-index: 5;
    box-shadow: 5px 5px rgba(8, 67, 135, 0.3),
              10px 10px rgba(8, 67, 135, 0.15),
              15px 15px rgba(8, 67, 135, 0.05);
}

.feedback-message {
    color: var(--text-white);
    font-size: 1.3vw;
    line-height: 1.5;
    font-family: montserrat-regular;
    height: 35vh;
    overflow: hidden;
    /* width: 50%; */
}
.feedback-author-name {
    color: var(--text-white);
    font-size: 1.5vw;
    font-family: roboto-regular;
    text-transform: uppercase;
}
.feedback-author-position {
    color: var(--text-white);
    font-size: 1.1vw;
    font-family: roboto-bold;
    font-style: italic;
}
.feedback-arrows {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 25px;
}
.feedback-arrows > i {
    font-size: 3.5vw;
    cursor: pointer;
    color: var(--text-white);
}
.feedback-arrows > i:hover {
    transition: all ease-in-out .2s;
    opacity: .5;
}
.feedback-tagline {
    color: var(--text-black);
    font-size: 1.3vw;
    font-family: montserrat-medium;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}