:root {
  --text-white: #F4F4F4;
  --text-black: #030303;

  --white: #FFFFFF;
  --white-dirty: #F4F4F4;
  --black: #030303;

  --blue: #0B6AB0;
  --blue-dark: #084387;
  --blue-deep: #11182C;

  --orange: #F36B1C;
  --orange-dark: #CE4912;

  --accent-yellow: #F8D605;
}
