:root {
  --text-white: #F4F4F4;
  --text-black: #030303;

  --white: #FFFFFF;
  --white-dirty: rgb(244, 244, 244);
  --white-dirty-01: rgba(244, 244, 244, 0.5);
  --black: #030303;

  --blue: rgb(11, 106, 176);
  --blue-dark: #084387;
  --blue-deep: rgb(17, 24, 44);
  --blue-deep-025: rgba(17, 24, 44, 0.25);
  --blue-01: rgba(11, 106, 176, 0.1);

  --orange: rgb(243, 107, 28);
  --orange-dark: rgb(206, 73, 18);
  --orange-05: rgba(206, 73, 18, 0.5);
  --orange-01: rgba(243, 107, 28, 0.1);

  --accent-yellow: #F8D605;
}

.App {
  overflow-x: hidden;
}
.section-header {
  position: absolute;
  top: 50px;
  left: 4%;
  font-size: 12vw;
  font-family: montserrat-bold;
}
@media screen and (max-width: 768px) {
    .about-header {
        top: 35px;
        font-size: 15vw;
        left: 1%;
    }
    .section-header {
        font-family: montserrat-black;
    }
}

p {
  font-family: montserrat-regular;
  color: var(--text-black);
  line-height: 1.5;
  width: 100%;
}

h2 {
  font-family: roboto-medium;
  color: var(--text-black);
  font-size: 2.5vw;
}